div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
h1, h2, h3{
    font-family: Verdana, sans-serif;
    margin-top: 1.5em;
}
h1{
   font-size: 32px; 
}
table, th, td, tr {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
}
figure{
    float: right;
}
#Houstonimg{
    position: relative;
    top: -65px;
}