body{
    background: blue;
    color: white;
  }
  h1{
    color:red;
  }
  h2{
    color:yellow;
  }
  p{
    color:black;
  }
  p#pink{
    color:pink;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .image {
    animation: rotate 4s linear infinite;
  }