html{
  box-sizing: border-box;
}
*{
  padding:0;
  margin:0;
}
.wrapper{
  max-width: 1219px;
  padding: 55px;
}
@import url('https://fonts.googleapis.com/css?family=Arimo');
header{
  width: 100%;
}
.top-menu {
  display: flex;
  background: #007765;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
  justify-content: space-evenly ;
  align-items: center;
}
.navbar-logo {display: inline-block; margin-top: 10px;}
.navbar-logo:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  position: absolute;
  left: 29%;
  transform: rotate(45deg) translateX(-20px);
  opacity: 0;
  transition: .3s linear;
}
.navbar-logo:hover:before {opacity: 1;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #fff;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu_list a:after{ 
  content: "";
  background: #ffffff;
  width: 2px;
  height: 29px;
  /* линия смещена на 10px справа от текста*/
  right: -12px;
  top: 15px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}
.hero {
  margin:0;
  background-image: url('img/image.png');
  background-size: cover;
  background-position: center center;
  padding-top:160px;
  padding-bottom: 160px;
}
.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
  text-align:center
}
.PiperNet span{
  font-family: Roboto;
  font-size: 72px;
  line-height: 84.38px;
  color:#fff;
}
.text-desc p{
  font-family: Roboto;
  font-size: 32px;
  line-height: 37.5px;
  color:black;
}
.text-desc p:not(:last-child){
  margin-bottom: 1.5em;
}
.description{
  margin:auto;
}
.description h1{
  font-family: Roboto;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color:#007765;
  margin-left: auto;
  margin-right: auto;
}
.text-desc{
  max-width:1100px ;
  max-height: 488px;
  margin:0;
  margin-top:16px;
  margin-left:auto;
  margin-right:auto;
  padding:0;
  box-sizing: border-box;
}
.problem{
  box-sizing: border-box;
  margin:auto;
  padding-top: 48px;
  padding-bottom: 92px;
  background-color: #EEEEEE;
}